* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body,
#root {
  min-height: 100vh;
  width: 100%;
}

.main {
  width: 100%;
  height: 100vh;
  background: linear-gradient(140deg, rgb(35, 26, 50), rgb(35, 26, 50), rgb(35, 26, 50), rgb(123, 117, 133) 20% 1%, rgb(35, 26, 50), rgb(35, 26, 50), rgb(35, 26, 50));
}
.main .sideBar {
  display: none;
}
.main .mainView {
  width: 100%;
}
.main .mainView nav {
  color: rgb(242, 242, 242);
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.main .mainView nav .navLeft {
  width: 82%;
  background-color: rgba(223, 223, 223, 0.147);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 0.7rem;
  border: 1px solid rgba(172, 172, 172, 0.478);
  border-radius: 7px;
}
.main .mainView nav .navLeft .search {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.main .mainView nav .navLeft .search label i {
  font-size: 1.2rem;
}
.main .mainView nav .navLeft .search input {
  color: white;
  height: 100%;
  width: 90%;
  border: none;
  outline: none;
  background-color: transparent;
}
.main .mainView nav .navLeft .search input::-moz-placeholder {
  color: rgb(239, 240, 240);
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.main .mainView nav .navLeft .search input::placeholder {
  color: rgb(239, 240, 240);
  transition: color 0.3s ease;
}
.main .mainView nav .navLeft .search input:focus::-moz-placeholder {
  color: transparent;
}
.main .mainView nav .navLeft .search input:focus::placeholder {
  color: transparent;
}
.main .mainView nav .navRight .notification {
  display: none;
}
.main .mainView nav .navRight .profile {
  height: 100%;
  aspect-ratio: 1/1;
  margin: auto;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  overflow: hidden;
}
.main .mainView nav .navRight .profile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  transform: scale(1.01);
}

@media (min-width: 764px) {
  .main .mainView nav .navLeft {
    width: 45%;
  }
  .main .mainView nav .navRight {
    display: flex;
    gap: 0.4rem;
    align-items: center;
  }
  .main .mainView nav .navRight .notification {
    display: block;
    padding-top: 0.2rem;
  }
  .main .mainView nav .navRight .notification i {
    font-size: 1.6rem;
    font-weight: 500;
  }
}
@media (min-width: 1024px) {
  .main {
    display: flex;
  }
  .main .sideBar {
    width: 35%;
    height: 100vh;
    background-color: transparent;
    padding: 1rem;
    display: flex;
  }
  .main .sideBar .view {
    height: 100%;
    width: 100%;
    background-color: azure;
    border-radius: 7px;
  }
  .main .mainView {
    padding: 0.5rem;
  }
}/*# sourceMappingURL=index.css.map */