* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aonic;
}

html,
body,
#root {
  height: 100vh;
  width: 100%;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes animateBorder {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
@font-face {
  font-family: aonic;
  src: url(./assets/fonts/fonnts.com-Aeonik-Regular.ttf);
}
.main {
  width: 100%;
  height: 100%;
  background: linear-gradient(140deg, rgb(35, 26, 50), rgb(35, 26, 50), rgb(35, 26, 50), rgb(123, 117, 133) 20% 1%, rgb(35, 26, 50), rgb(35, 26, 50), rgb(35, 26, 50));
}
.main .sideBar {
  display: none;
}
.main .mainView {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.main .mainView nav {
  color: rgb(242, 242, 242);
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.main .mainView nav .navLeft {
  width: 82%;
  background-color: rgba(223, 223, 223, 0.147);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 0.7rem;
  border: 1px solid rgba(172, 172, 172, 0.478);
  border-radius: 7px;
}
.main .mainView nav .navLeft .search {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.main .mainView nav .navLeft .search label i {
  font-size: 1rem;
}
.main .mainView nav .navLeft .search input {
  color: white;
  height: 100%;
  width: 90%;
  border: none;
  outline: none;
  background-color: transparent;
}
.main .mainView nav .navLeft .search input::-moz-placeholder {
  color: rgb(239, 240, 240);
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.main .mainView nav .navLeft .search input::placeholder {
  color: rgb(239, 240, 240);
  transition: color 0.3s ease;
}
.main .mainView nav .navLeft .search input:focus::-moz-placeholder {
  color: transparent;
}
.main .mainView nav .navLeft .search input:focus::placeholder {
  color: transparent;
}
.main .mainView nav .navRight .notification {
  display: none;
}
.main .mainView nav .navRight .profile {
  height: 100%;
  aspect-ratio: 1/1;
  margin: auto;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  overflow: hidden;
}
.main .mainView nav .navRight .profile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  transform: scale(1.01);
}
.main .mainView .content {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.main .mainView .content .moviePreview {
  height: 50%;
  color: rgb(238, 238, 238);
  background-image: url(./Adventure\ Baltigo.png);
  background-size: cover;
  background-position: center;
  border-radius: 7px;
  padding: 1.1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr 0fr 5fr 1fr;
  grid-template-areas: "trending" "genre" "movie" "buttons";
}
.main .mainView .content .moviePreview .trending {
  grid-area: trending;
  height: 25px;
  width: 90px;
  background-color: rgba(223, 223, 223, 0.147);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgba(172, 172, 172, 0.478);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  justify-content: start;
}
.main .mainView .content .moviePreview .trending p {
  font-size: 0.8rem;
}
.main .mainView .content .moviePreview .trending .icon {
  height: 100%;
  aspect-ratio: 1/1;
  margin-left: 0.2rem;
}
.main .mainView .content .moviePreview .trending .icon img {
  width: 96%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .mainView .content .moviePreview .genre {
  grid-area: genre;
  display: none;
}
.main .mainView .content .moviePreview .movie {
  grid-area: movie;
  align-self: end;
  padding-bottom: 1rem;
}
.main .mainView .content .moviePreview .movie h3 {
  font-size: clamp(20.8px, 6vw, 56px);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.main .mainView .content .moviePreview .movie .desc {
  font-size: clamp(14px, 4.2vw, 20px);
}
.main .mainView .content .moviePreview .btns {
  grid-area: buttons;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-start;
}
.main .mainView .content .moviePreview .btns .watchNow {
  width: clamp(97px, 37%, 143px);
  height: 40px;
  color: black;
  border-radius: 7px;
  padding: 0.12rem;
  background: conic-gradient(from var(--angle), rgb(216, 149, 247), rgba(0, 0, 0, 0), rgb(216, 149, 247), rgba(0, 0, 0, 0.101), rgb(216, 149, 247));
  animation: animateBorder linear 3s infinite running;
  transition: all 0.2s ease-out;
}
.main .mainView .content .moviePreview .btns .watchNow .btn {
  height: 100%;
  width: 100%;
  background-color: rgb(216, 149, 247);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.main .mainView .content .moviePreview .btns .watchNow .btn p {
  font-size: 0.8rem;
}
.main .mainView .content .moviePreview .btns .watchNow .btn i {
  font-size: 1rem;
}
.main .mainView .content .moviePreview .btns .watchNow:hover {
  transform: scale(1.01);
  padding: 0;
  color: white;
}
.main .mainView .content .moviePreview .btns .download,
.main .mainView .content .moviePreview .btns .more {
  height: 40px;
  aspect-ratio: 1/1;
  background-color: rgba(223, 223, 223, 0.033);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  border: 1px solid rgba(172, 172, 172, 0.637);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}
.main .mainView .content .moviePreview .btns .download i,
.main .mainView .content .moviePreview .btns .more i {
  font-size: 1.2rem;
}
.main .mainView .content .conWatch {
  width: 100%;
  min-height: -moz-fit-content;
  min-height: fit-content;
  color: white;
  overflow: hidden;
  padding-right: 0;
}
.main .mainView .content .conWatch .watchHead {
  font-size: clamp(1.1rem, 5.5vw, 22px);
  font-weight: 500;
}
.main .mainView .content .conWatch .remains {
  display: flex;
  gap: 0.5rem;
  overflow: scroll;
  padding: 0.4rem;
}
.main .mainView .content .conWatch .remains .show {
  flex-shrink: 0;
  height: 160px;
  width: 120px;
  background-color: antiquewhite;
  border-radius: 7px;
}
.main .mainView .content .conWatch .remains::-webkit-scrollbar {
  display: none;
}
.main .mainView::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .main .mainView nav .navLeft {
    width: 45%;
  }
  .main .mainView nav .navLeft label i {
    font-size: 1rem;
  }
  .main .mainView nav .navRight {
    display: flex;
    gap: 0.4rem;
    align-items: center;
  }
  .main .mainView nav .navRight .notification {
    display: block;
    padding-top: 0.2rem;
  }
  .main .mainView nav .navRight .notification i {
    font-size: 1.6rem;
    font-weight: 500;
  }
  .main .mainView .content .moviePreview {
    height: 60%;
  }
  .main .mainView .content .conWatch .remains {
    gap: 0.8rem;
  }
  .main .mainView .content .conWatch .remains .show {
    width: 190px;
    height: 130px;
  }
}
@media (min-width: 1024px) {
  .main {
    display: flex;
  }
  .main .sideBar {
    width: 35%;
    height: 100vh;
    background-color: transparent;
    padding: 1rem;
    display: flex;
    position: sticky;
    top: 0;
  }
  .main .sideBar .view {
    height: 100%;
    width: 100%;
    background-color: rgba(172, 171, 171, 0.418);
    -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.437);
    border-radius: 7px;
  }
  .main .sideBar .view .logoSec {
    width: 100%;
    color: white;
    padding: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main .sideBar .view .logoSec .logo {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }
  .main .sideBar .view .logoSec .logo i {
    font-size: 2.3rem;
    color: rgb(177, 42, 240);
  }
  .main .sideBar .view .logoSec .logo p {
    font-size: 1.6rem;
  }
  .main .sideBar .view .logoSec i {
    color: rgba(255, 255, 255, 0.385);
    font-size: 1.2rem;
  }
  .main .sideBar .view .sideComp .option {
    display: flex;
  }
}/*# sourceMappingURL=index.css.map */